.sign-up-main
  .sign-up-main__container
    %h2.sign-up-main__container__title
      新規会員登録
    .sign-up-main__container__forms
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: resource

        .form-group
          .teams
            %h3.i-n-team
              ニックネーム
            %p.hissu
              必須
          = f.text_field :nickname, autofocus: true, class: 'form-content'
        .form-group
          .teams
            %h3.i-n-team
              メールアドレス
            %p.hissu
              必須
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-content'
        .form-group
          .teams
            %h3.i-n-team
              パスワード
            %p.hissu
              必須
            - if @minimum_password_length
              %em
                英数7文字以上
            %br/
            = f.password_field :password, autocomplete: "new-password", class: 'form-content'
        .form-group
          .teams
            %h3.i-n-team
              パスワード(確認用)
            %p.hissu
              必須
            = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-content'
        - if devise_mapping.rememberable?
          .form-group__content

        .sign-up-main-check
          .form-group
            %label.form-group-text-title 本人確認
            %p.form-group__info 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

          .form-group
            .form-name
              = f.label :"お名前(全角)"
              %span.form-group__require
              .hissu 必須
            = f.text_field :last_name,class:'form-group__input--half'
            = f.text_field :first_name,class:'form-group__input--half'

          .form-group
            .form-name-kana
              = f.label :"お名前(かな)(全角)"
              %span.form-group__require
              .hissu 必須
            = f.text_field :last_name_kana,class:'form-group__input--half'
            = f.text_field :first_name_kana,class:'form-group__input--half'

          .form-group
            .form-barthday
              = f.label :"生年月日"
              %span.form-group__require
              .hissu 必須
              = f.date_select :birthday, use_month_numbers: true,start_year: 1900, end_year: (Time.now.year), default: Date.new(1989, 1, 1)

          .actions
            = f.submit '次へ', class: 'form-submit', url: 'address_path'
