.sign-up-main
  .sign-up-main__container
    %h2.sign-up-main__container__title
      クレジットカード登録
    .sign-up-main__container__forms
      =form_for(@creditcard, url: creditcards_path, method: :post) do |f|
        -# =render "devise/shared/error_messages", resource: @address
        .form-group
          .teams
            %h3.i-n-team
              カード番号
            %p.hissu
              必須
          = f.text_field :/, {placeholder: "半角数字のみ", class: "form-content"}
        .form-group
          .teams
            %h3.i-n-team
              カード会社
            %p.hissu
              必須
          = f.select :/, Card.card_companies.keys, {}, {class: 'form-group__input'}
          %ul.card-logo-lists
            %li.card-logo-lists__list
              = image_tag 'card-logo/jcb-logomark-img-01.gif', alt: 'JCB', class: 'card-icon'
            %li.card-logo-lists__list
              = image_tag 'card-logo/logo_visa.gif', alt: 'visa', class: 'card-icon'
            %li.card-logo-lists__list
              = image_tag 'card-logo/amex-logomark-img-04.gif', alt: 'amex', class: 'card-icon'
            %li.card-logo-lists__list
              = image_tag 'card-logo/logo_mastercard.gif', alt: 'master', class: 'card-icon'
            %li.card-logo-lists__list
              = image_tag 'card-logo/diners-logomark-img-01.gif', alt: 'diners', class: 'card-icon'
        .form-group
          .teams
            %h3.i-n-team
              有効期限
            %p.hissu
              必須
            %br
          = f.select :/, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), {}, {class: "form-content--half"}
          = f.label :月, class: "form-group__year-and-month"
          %br
          %br
          = f.select :/, options_for_select(["20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"]), {}, {class: "form-content--half"}
          = f.label :年, class: "form-group__year-and-month"
        .form-group
          .teams
            %h3.i-n-team
              セキュリティコード
            %p.hissu
              必須
            %br
          = f.text_field :/, placeholder: "3~4桁", class: "form-content secrity-code"
        .form-group.submit-content
          = f.submit "登録する", class: "form-submit", url: "creditcards_path", method: :post
