
%footer.footer
  .footer__contents
    %ul.footer-items
      %li.footer-item
        %h2.footer-item__title
          FURIMAについて
        %ul.footer-item__lists
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              会社概要（運営会社）
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              プライバシーポリシー
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              FURIMA利用規約
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              ポイントに関する特約
      %li.footer-item
        %h2.footer-item__title
          FURIMAを見る
        %ul.footer-item__lists
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              カテゴリー一覧
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              ブランド一覧
      %li.footer-item
        %h2.footer-item__title
          ヘルプ＆ガイド
        %ul.footer-item__lists
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              FURIMAガイド
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              FURIMAロゴ利用ガイドライン
          %li.footer-item__lists__list
            = link_to "/", class: "footer-item__lists__list__link" do
              お知らせ
  .footer__logos
    .footer__logos__logo
      = link_to "/", class: "logo-link" do
        = image_tag 'material/logo/logo-white.png', alt: 'logo', class: 'logo-link__white-img'
    %p.footer__logos__text
      © FURIMA
