.i-n
  .i-n__inner
    = form_for [@item] do |f|
      .i-n-image
        .i-n-image__inner
        %h3.i-n-team
          出品画像
        %p.hissu
          必須
        = f.label :/, class: 'form__box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      .i-n-names
        .i-n-names__inner
          .i-n-names__inner__name
            %h3.i-n-team
              商品名
            %p.hissu
              必須
            = f.text_field :name, placeholder: "40文字まで", class: 'i-n-form-content'
          .i-n-names__inner__text
            %h3.i-n-team
              商品の説明
            %p.hissu
              必須
            = f.text_area :introduce, placeholder: "商品の説明", class: 'i-n-form-content'
      .i-n-categories
        .i-n-categories__inner
          .i-n-categories__inner__category
            %h3.i-n-team
              カテゴリー
            %p.hissu
              必須
            = f.select :/, [['メンズ', 1], ['レディース', 2], ['その他', 3]], { include_blank: true, selected: 1 }, class: 'i-n-form-content'
          .i-n-categories__inner__brand
            %h3.i-n-team
              ブランド
            %p.not_hissu
              任意
            = f.select :/, [['シャネル', 1], ['エルメス', 2], ['グッチ', 3]], { include_blank: true, selected: 1 }, class: 'i-n-form-content'
          .i-n-categories__inner__condition
            %h3.i-n-team
              商品の状態
            %p.not_hissu
              任意
            = f.select :/, [['新品', 1], ['中古', 2]], { include_blank: true, selected: 1 }, class: 'i-n-form-content'
      .i-n-delivery
        .i-n-delivery__inner
          .i-n-delivery__inner__charge
            %h3.i-n-team
              配送料の負担
            %p.hissu
              必須
            = f.select :/, [['出品者が負担', 1], ['購入者が負担', 2]], { include_blank: true, selected: 1 }, class: 'i-n-form-content'
          .i-n-delivery__inner__prefecture
            %h3.i-n-team
              発送元の地域
            %p.hissu
              必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'i-n-form-content'
          .i-n-delivery__inner__day
            %h3.i-n-team
              発送までの日数
            %p.hissu
              必須
            = f.select :/, [['今日', 1], ['明日以降', 2]], { include_blank: true, selected: 1 }, class: 'i-n-form-content'
      .i-n-prices
        .i-n-prices__inner
          .i-n-prices__inner__price
            %h3.i-n-team
              販売価格
            %p.hissu
              必須
            = f.number_field :price, class: 'i-n-form-content num-form'
      .i-n-submit
        .i-n-submit__inner
          = f.submit "出品する"
