.i-n
  .i-n__inner
    = form_for [@item] do |f|
      .i-n-image
        .i-n-image__inner
          .teams
            %h3.i-n-team
              出品画像
            %p.hissu
              必須
            .i-n-icon-contents
              = f.label :image, class: 'i-n-icon-content' do
                .file-box
                  = icon('fas', 'image', class: 'icon')
                  %p.file-message
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてアップロード
                = f.file_field :image, class: 'hidden'
      .i-n-names
        .i-n-names__inner
          .i-n-names__inner__name
            .teams
              %h3.i-n-team
                商品名
              %p.hissu
                必須
            = f.text_field :name, placeholder: "40文字まで", class: 'form-content'
          .i-n-names__inner__text
            .teams
              %h3.i-n-team
                商品の説明
              %p.hissu
                必須
            = f.text_area :introduce,lows: "50",cols: "8", placeholder: "商品の説明", class: 'form-content text-area'
      .i-n-categories
        .i-n-categories__inner
          .i-n-categories__inner__category
            .teams
              %h3.i-n-team
                カテゴリー
              %p.hissu
                必須
            = f.select :/, [['メンズ', 1], ['レディース', 2], ['その他', 3]], { include_blank: true, selected: 1 }, class: 'form-content'
          .i-n-categories__inner__brand
            .teams
              %h3.i-n-team
                ブランド
              %p.not_hissu
                任意
            = f.select :/, [['シャネル', 1], ['エルメス', 2], ['グッチ', 3]], { include_blank: true, selected: 1 }, class: 'form-content'
          .i-n-categories__inner__condition
            .teams
              %h3.i-n-team
                商品の状態
              %p.not_hissu
                任意
            = f.select :/, [['新品', 1], ['中古', 2]], { include_blank: true, selected: 1 }, class: 'form-content'
      .i-n-delivery
        .i-n-delivery__inner
          .i-n-delivery__inner__charge
            .teams
              %h3.i-n-team
                配送料の負担
              %p.hissu
                必須
            = f.select :/, [['出品者が負担', 1], ['購入者が負担', 2]], { include_blank: true, selected: 1 }, class: 'form-content'
          .i-n-delivery__inner__prefecture
            .teams
              %h3.i-n-team
                発送元の地域
              %p.hissu
                必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          .i-n-delivery__inner__day
            .teams
              %h3.i-n-team
                発送までの日数
              %p.hissu
                必須
            = f.select :/, [['今日', 1], ['明日以降', 2]], { include_blank: true, selected: 1 }, class: 'form-content'
      .i-n-prices
        .i-n-prices__inner
          .i-n-prices__inner__price
            .teams.teams-price
              %h3.i-n-team
                販売価格
              %p.hissu
                必須
            = f.number_field :price, placeholder: "0", class: 'form-content num-form'
      .i-n-submit
        .i-n-submit__inner
          = f.submit "出品する", class: 'form-submit'
