.inner
  .item-name
    = @item.name
  .top
    .item
      .item__left
        .item__left__mainpic
          = image_tag @item.item_images.first.image.url, alt: "AppStoreで入手", class: "img" ,size: "270x360"
        .item__left__subpic
          - @item.item_images.each do |image|
            .item__left__subpic1__1.subpic
            = image_tag image.image.url, alt: "AppStoreで入手", class: "img1" ,size: "270x360"
      .item__right
        %table
          %tr
            %th
              出品者
            %td
              = @user.nickname
          %tr
            %th
              カテゴリー
            %td
              - if @grandparent.present?
                .category-name
                  = @grandparent.name
              - if @parent.present?
                .category-name
                  = @parent.name
              .category-name
                = @category.name
          %tr
            %th
              商品の状態
            %td
              = @item.commodity_condition.value
          %tr
            %th
              配送料の負担
            %td
              = @item.shipping_charge.value
          %tr
            %th
              配送の方法
            %td
              = @item.shipping_method.value
          %tr
            %th
              配送元地域
            %td
              = @item.prefecture.name
          %tr
            %th
              配送日の目安
            %td
              = @item.shipping_day.value
  .middle
    .item-explain
      .item-explain__price
        .item-explain__price__num
          ¥
          = @item.price
        .item-explain__price__tax
          (税込)
        .item-explain__price__sendway
          送料込み
      .item-btn-contents
        - if user_signed_in?
          - if current_user.id == @item.seller_id
            =link_to edit_item_path(@item) ,class:"item-explain__link my-item-btn"  do
              .item-explain__link__btn.btn-blue
                編集
            =link_to item_path(@item), method: :delete, class:"item-explain__link my-item-btn"  do
              .item-explain__link__btn
                削除
          - elsif @item.purchase_id == nil
            = link_to item_secound_path ,class:"item-explain__link"  do
              .item-explain__link__btn
                購入画面に進む
          - else
            .sold-btn
              売り切れ
      .item-explain__content
        = @item.introduce
        %br
    .item-explain__under
      .left
        =link_to '#' ,class:"item-explain__under__iine"  do
          .item-explain__under__btn
            %i.far.fa-heart いいね! 4
          =link_to '#' ,class:"item-explain__under__iine"  do
            .item-explain__under__btn
              %i.far.fa-flag 不適切な商品の報告
      .right
        =link_to '#' ,class:"item-explain__under__iine"  do
          .item-explain__under__btn
            %i.far.fa-flag  あんしん・あんぜんへの取り組み
  .bottom
    .buyer-profile
      %p.buyer-profile__top
        Buyer :
      .buyer-profile__name
        = link_to user_path(@user), class: "user-page-link" do
          = @user.nickname
    .comment
      .comment__attention
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      =form_for([@item, @comment], local: true) do |form|
        =form.text_area :text, placeholder: "コメントする", rows: "3", class: "comment-field"
        =form.submit "SEND", class:"btn"
    .chat
      %h1.font
        ＜コメント一覧＞
      .chat__comment
        - if @comments
          - @comments.each do |chat|
            .chat__comment__box
              .chat__comment__box__left
                = image_tag 'moduls/makonari.jpg', alt: '社長', class: 'profile-image' ,size: "40x40"
              .chat__comment__box__right
                .chat__comment__box__right__name
                  = link_to chat.user.nickname,"/users/#{chat.user_id}"
                .chat__comment__box__right__text
                  = chat.text
                  .chat__comment__box__right__text__hukidashi
  .social
    %i.fab.fa-facebook-square.fa-4x
    %i.fab.fa-twitter-square.fa-4x
    %i.fab.fa-pinterest-square.fa-4x
    %i.fab.fa-line.fa-4x
.another
  = link_to '#',class: 'text-decolation-none' do
    .another__title
      %p
        = @user.nickname
      %p
        さんの出品一覧
    .items-another

      - @my_items.each do |item|
        = render partial: 'shared/item', locals: {item: item}