
%header.header
  .header__contents
    testGoodaaaaa updata
    = link_to do
      = image_tag 'material/logo/logo.png', alt:'test-pictute'
      

%main.main
  %section.flima-top
    .theme
      %h1.theme__title
        %br
        人生を変えるフリマアプリ
      %p.theme__sub-title
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .dr-btns
        = link_to '/', class: "a-btn" do
          = image_tag "app_logo/app_store.png", alt: "AppStoreで入手", class: "btn-image"
        = link_to '/', class: "g-btn" do
          = image_tag "app_logo/google_play.png", alt: "Goole Playで入手", class: "btn-image"
  %section.flima-reason-contents
    %h2.heading
      FURIMAが選ばれる３つの理由
    %ul.reason-lists
      %li.reason-list
        .reason-list__top
          %span.reason-list__top__num
            1
          = image_tag 'material/pict/pict-reason-01.jpg', class: 'reason-image'
        .reason-list__bottom
          %h3.reason-list__bottom__title
            %span
              3分
            ですぐに出品
          %p.reason-list__bottom__sub-title
            スマホで入力するだけで簡単に出品できる！
      %li.reason-list
        .reason-list__top
          %span.reason-list__top__num
            2
          = image_tag 'material/pict/pict-reason-02.jpg', class: 'reason-image'
        .reason-list__bottom
          %h3.reason-list__bottom__title
            %span
              シンプル
            で使いやすい
          %p.reason-list__bottom__sub-title
            めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.reason-list
        .reason-list__top
          %span.reason-list__top__num
            3
          = image_tag 'material/pict/pict-reason-03.jpg', class: 'reason-image'
        .reason-list__bottom
          %h3.reason-list__bottom__title
            手数料
            %span
              業界最安
          %p.reason-list__bottom__sub-title
            最大3%でお得に出品&購入！
  %section.flima_link
    .dl-pr
      %h2.dl-pr__title
        会員数日本一位
      %p.dl-pr__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
        .dr-btns
          = link_to '/', class: "a-btn" do
            = image_tag "app_logo/app_store.png", alt: "AppStoreで入手", class: "btn-image"
          = link_to '/', class: "g-btn" do
            = image_tag "app_logo/google_play.png", alt: "Goole Playで入手", class: "btn-image"
  %section.flima_characteristic
  %section.flima_pic_category
  %section.flima_pic_brand
%aside.aside
%fotter
