.u-s
  .u-s__inner
    .u-s-side
      .u-s-side__nav
        %ul.u-s-side__nav__lists
          %li.u-s-side__nav__lists__list
            = link_to "#", class: "u-s-side-list-link" do
              出品一覧
          %li.u-s-side__nav__lists__list
            = link_to "#", class: "u-s-side-list-link" do
              プロフィール編集
          %li.u-s-side__nav__lists__list
            = link_to "#", class: "u-s-side-list-link" do
              カード情報編集
          %li.u-s-side__nav__lists__list
            = link_to destroy_user_session_path,method: :delete, class: "u-s-side-list-link" do
              ログアウト
    .u-s-main
      .u-s-images
        .u-s-images__contents
          .u-s-images__contents__image
            = image_tag 'moduls/makonari.jpg', alt: '社長', class: 'profile-image'
          .u-s-images__contents__names
            %p.u-s-images__contents__names__name
              社長
      .u-s-texts
        .u-s-texts__contents
          %p.u-s-texts__contents__text
            社長やってます
      .u-s-items
