.buypage
  .buypage__header
    = link_to '/' , class: '' do
      = image_tag "material/logo/logo.png", alt: "logo画像", class: "",size: "120x33"
     
  .buypage__main
    .buypage__main__title
      購入内容の確認
    %br
    .buypage__main__item
      .flex
        .buypage__main__item__image
          = link_to '/' , class: 'another-image' do
            = image_tag @item.item_images.first.image.url, alt: "商品画像", class: "image",size: "110x80"
        .buypage__main__item__texts
          .buypage__main__item__texts__title
            #{@item.name}
          .flex2
            .buypage__main__item__texts__price
              ¥#{@item.price}
            .buypage__main__item__texts__send-fee
              （税込）送料込み
      .buypage__main__item__form
        .buypage__main__item__form__price
          .upper
            .buypage__main__item__form__price__label
              支払い金額
            .buypage__main__item__form__price__num
              ¥#{@item.price}

          .bottom
            .buypage__main__item__form__price__point
              ポイントを使用 (所持ポイント: P0)支払い方法
            
        %br
        .buypage__main__item__form__pay-way
          .left
            .buypage__main__item__form__pay-way__name
              支払い方法
            .buypage__main__item__form__pay-way__credit
              クレジットカード
            .buypage__main__item__form__pay-way__logo
              = image_tag "card/visa.svg", alt: "カードロゴ画像", class: "",size: "49x15"
          .right
            .div
              = link_to '変更する', '/', class: 'text-decolation-none'
            %br
            - if @card.blank?
              .div
                カード未登録
            - else
              .div
                = "**** **** **** " + @default_card_information.last4
              .div
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year

        .buypage__main__item__form__delivery
          .left
            .buypage__main__item__form__delivery__label
              配送先
            .buypage__main__item__form__delivery__address
              %p 〒190-xxxx
              %p 東京都xxxx-xxx-
              %p テック 太郎
          .right
            = link_to '変更する', '/', class: 'text-decolation-none'
        
        .buypage__main__item__form__buy-btn
          = link_to 'カード登録', pay_card_index_path, class: 'buypage__main__item__form__buy-btn'
        .buypage__main__item__form__buy-btn
          = link_to '購入する', purchase_path(@item), class: 'buypage__main__item__form__buy-btn',method: :post

            
  .buy-page__footer
    .buy-page__footer__top
      = link_to 'プライバシーポリシー', '/', class: 'another-link'
    .buy-page__footer__top
      = link_to 'メルカリ利用規約', '/', class: 'another-link'
    .buy-page__footer__top
      = link_to 'メルカリ利用規約', '/', class: 'another-link'
    .buy-page__footer__middle
      = image_tag "material/logo/logo-gray.svg", alt: "ブランドロゴ画像", class: "",size: "85x65"
      
    .buy-page__footer__middle--image
      ©︎Furima, Inc.
    .buy-page__footer__bottom
      